body{
  box-sizing: border-box;
}
body{
  background-color: #c9c9c9;
}
header{
  background-color: green;
}

section{
  background-color: yellow;
}

<<<<<<< HEAD
.box{
	background-color: green;
=======
.lol{
  font-size: 17px;
}

.wrapper{
  font-weight: normal;
>>>>>>> 83d2832620e646f822fbc622dd81f8e2074ee747
}